.Chekout--container{
  background-color: #f5f6fa;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 0.65rem;
  margin: 2rem 0.25rem;

  *{
    margin: 10px;
  }

}

.carrito--items{
  background-color: white;
  box-shadow: var(--shadowCard);
  overflow-y: auto;
  padding: 0.65rem;
  margin-right: 0.75rem;
  flex-basis: 80%;
  text-align: center;

  p{
    font-size: medium;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.65rem;
    width: 100%;
  }

  img{
    object-fit: cover;
    object-position: center;
    width: 6.25rem;
    height: 6.25rem;
    padding: 0.25rem;
  }

  div{
    display: grid;
    align-items: center;
    grid-template-columns: [foto] 6.25rem [name_prod] 20rem [cantidad] auto [precio] auto;
    margin-bottom: 1.25rem;
    padding: 0.25rem;
    
    
    &:hover{
      background-color: var(--selected);
      cursor: pointer;
      p,
      span{
        color: white; 
      }   
    }

  }

  span{
    font-size: large;
    color: var(--black);
    font-family: 700;
    cursor: pointer;
    margin-bottom: 1rem;
    padding: 0 0.65rem;
    border-radius: 8px;

  }

}

.subtotal--items{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-basis: 20%;
  margin: 4px;
  height: 15.5rem;
  position: sticky;
  top: 8rem;
  background-color: white;
  box-shadow: var(--shadowCard);
  color: white;
  padding: 0.25rem;
  text-align: center;
  
  p,
  span{
    font: var(--itafont);
    color: var(--black);
    font-size: large;
    font-weight: bold;
  }

  button{
    height: 45px;
    width: 177px;
    background-color: #fbc531;
    border: none;
    border-radius: 900px;
    color: black;

    &:hover{
      transform: translate(1px, 1px);
      color: var(--white-bg);
    }
  }

}

// invoice data
// invoice--container
.invoice__container{
  background-color: var(--white-bg);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.google__credentials{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
  background-color: white;
  color: var(--black);
  padding: 1.25rem;
  height: 200px;
  border-radius: 8px 8px 0 0;
}

.data__google__user{
  margin-top: 10px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 1rem;

  p:nth-child(2n +1){
    background-color: white;
    padding: 0.25rem;
    margin: 4px;
    font-weight: bold;
  }

  
  p{
    margin: 0;
    margin-left: 8px;
  }

  img{
    border-radius: 100%;

  }

}

.menu__secction__datos__form{

  p{
    margin: 0;
  }
  span{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: white;
    background-color: var(--selected);
  }

  span::after{

    content: url('../assets/icons/angle-double-down.svg');
    height: 30px;
    width: 30px;
  }
}

.forma__pago{
  padding: 0.65rem;
  color: var(--black);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
    
  p:last-of-type{
    margin: 8px;
    padding: 8px;
    background-color: white;
    color: var(--black);
    text-align: center;
  }

  button{
    border: none;
    background-color: var(--esmeralda);
    height: 4.25rem;
    width: 12.25rem;
    padding: 0.65rem;
    color: white;
    border-radius: 8px;
    font-weight: bold;
  }

  button:hover{
    opacity: 0.65;
    border: 4px solid transparent;
  }

}

.redirect__container{
  position: absolute;
  backdrop-filter: blur(2px);
  min-width: 300px;
  height: 100vh;
}

.ntf__pdfCrate{
  background-color: var(--esmeralda);
  position: relative;
  border-radius: 8px;
  text-align: center;
  padding: 1.25rem;
  height: fit-content;
  min-width: 300px;
  margin: 8px;
  
  span{
    font-weight: bold;
  }

  p:first-of-type{
    color: white;
    font-size: large;
  }
  
  p:last-of-type{
    color: var(--black);
    
  }

  button{
    background-color: var(--blue-bg);
    color: white;
    border-radius: 4px;
    border: none;
    margin: 4px;
    padding: 0.35rem;
    height: 40px;
    width: 80px;

    &:hover{
      opacity: 0.65;
      border: 1px solid transparent;
    }
  }

}

.invoice__body{
  min-height: 40vh;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column; 
  width: fit-content;
}

.formulario__carrito__data{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 0 0 8px 8px;
  padding: 1.65rem;
  align-items: center;

  button{
    width: 200px;
    height: 45px;
    background-color: #fbc531;
    border: transparent;
    border-radius: 900px;
    margin: 0 10px;
  }

  button:hover{
    transform: translate(1px, 2px);
    color: white;
  }
  
  fieldset{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    
    input:invalid{
      border: 1px solid #e74c3c;
    }

    div{
      display: flex;
      align-items: center;
      padding: 0.25rem;
    }
    
    div:nth-child(2n){
      background-color: var(--white-bg);
    }

    label{
      width: 200px;
      display: inline-table;
      font-family: var(--normalFont);
      border-style: none;
    }

    input{
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    label,
    input{
      padding: 0.5rem 1rem;
      border: none;
    }

    span{
      font-size: x-small;
      color: red;
    }

    legend{
      text-align: center;
    }

  }

}

.formulario__carito__pago{
  width: 600px;
  margin-top: 10px;
}

.checkbox__input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: large;

  label{
    margin: 14px;
  }

  input{
    height: 1rem;
    width: 1rem;
    padding: 4rem;
  }

}

.carrito--items{
  flex-basis: 100%;
  margin: 0;
  
  > div{
    display: flex;
    border-bottom: 1px solid var(--disable);
    margin-bottom: 28px;
  }

  > p{
    white-space: normal;
  }

}


.pedidos{

  &__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--white-bg);
  }

}

.pedido__card{
  font-family: var(--normalFont);
  margin: 10px;
  width: 640px;
  min-height: 240px;
  background-color: white;

  td,
  th,
  tr{
    margin: 0;
    padding: 0 0.65rem;
    font-size: small;
  }

  
  table:first-child{
    width: 100%;
    background-color: var(--blue-bg);
    color: white

  }

  
  table:last-child{
    width: 100%;
    height: 100%;

    tbody{
      position: relative;
      display: flex;
      flex-direction: column;
    }
  }
  
  table:last-child tbody span{
    display: flex;
    padding: 0.65rem;
    
    p{
      width: 50%;
      font-size: x-small;
    }

    img{
      width: 80px;
      height: 40px;
      object-fit: scale-down;
    }
  }

  table:last-child tbody span:last-child{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    
    button{
      font-size: x-small;
      width: 100px;
      height: 30px;
      margin: 2px;
      border: none;
      background-color: var(--blue-bg);
      color: white;

      &:hover{
        opacity: 0.65;
      }
    }
  }

}

.pedidos__footer{
  margin-bottom: 5rem;
}


// media Querys

@media (max-width:60rem){

  .carrito--items{
    margin: 10px;
    padding: 10px;

  }

  .item__carrito__body{
    display: flex;
    flex-direction: column;
    margin: 2px;
  }

  .formulario__carrito__data{
    width: 360px;

    fieldset{
      display: flex;
      flex-direction: column;
    }
  }

  .checkbox__input{
    label{
      font-size: small;
    }
  }
  
  .Chekout--container{
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 8px;
    margin: 4px;
    
  }

  .subtotal--items{
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    margin: 0;

    }

    .pedido__card{
      width: 350px;
      min-height: 140px;
    }

}

  



