// Here you can add other styles

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    overflow-x: hidden;
}

// TODO darle al media query
.productos--search{
    padding: 2% 2%;
}

.custom--links{
    color: azure;
    font-size: small;
    font-family: 'Roboto', sans-serif;
}

.custom--links:hover{
    color: cadetblue;
    font-size: small;
    font-family: 'Roboto', sans-serif;
}

.custom--links:active{
    color: cornflowerblue;
    font-size: small;
    font-family: 'Roboto', sans-serif;
}

.div--button{
    color: azure;
    cursor: pointer;
}

.c-avatar{
    margin-left: 25%;
    padding: 7vh;
}

.header-profile-text{
    text-align: justify;
    padding: 1vh;
}

.items--color{
    color: black;
}

.items--brand--text{
    color: rgb(75, 75, 75);
}

.text--productos--title{
    color: rgba(0, 0, 0, 0.671);
    font-size: large;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    
}

.img--product--small{
    display: flex;
    height: fit-content;
    height: 15vh;
    width: auto;
    
}

.card--container{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.footer--map{
    display: grid;
    color: rgb(255, 255, 255);
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1px;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-blend-mode: screen;
    padding-bottom: 1rem;
}

.footer-footer{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.911);
    color: gray;
}

.item-grid-map{
    padding: 2rem;
    // width: 100%;
    justify-items: center;
}

.item-direccion{
    justify-items: end;
    // width: 100%;
    padding: 2rem;
    margin-left: 4rem;
}

.item-grid-disclaimer{
    padding: 0 2rem 0 2rem;
    justify-items: center;
}


.icoSVG{
    width: 40vmin;
}

#Navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
}

@media (min-width: 950px){
    #Navigation{
        padding: 1rem 5rem;
    }
}

#Navigation > section {
    display: flex;
    
}

.form--header{
    display: flex;
    flex-direction: row;
    width: 200px;
    border-radius: 4px;
}

@media (min-width: 550px){
    .form--header{
        width: 300px;
    }
}

@media (min-width: 750px){
    .form--header{
        width: 500px;
    }
}

@media (min-width: 950px){
    .form--header{
        width: 700px;
    }
}

.input-form-header{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    
    

    input{
        padding: 0 1rem 0 1rem;
        font-size: 1rem;
        border: none;
        width: 100%;
        
    }
    input:focus{
        outline: none;
    }

}

.btn-search{
    padding-right: 1rem;
    color: rgba(34, 33, 33, 0.527);
    text-rendering: auto;
    line-height: 2em;

}
