// Here you can add other styles
@import "./upload.scss";
@import "./login.scss";

html{
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    color: var(--back);
    background-color: #ffffff;

    a{
        text-decoration: none;
        color: inherit;
    }

    a:hover{
        text-decoration: none;
        color: inherit;
    }
    
}

#CatalogoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

#topDashBoard{
    
    margin-top: 10px;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: visible;
    margin-bottom: 20px;
}

.custom--links{
    color: azure;
    font-size: small;

}

.custom--links:hover{
    color: cadetblue;
    font-size: small;

}

.custom--links:active{
    color: cornflowerblue;
    font-size: small;

}

.div--button{
    color: azure;
    cursor: pointer;
}

.c-avatar{
    margin-left: 25%;
    padding: 7vh;
}

.header-profile-text{
    text-align: justify;
    padding: 1vh;
}

.items--color{
    color: black;
}

.items--brand--text{
    color: rgb(75, 75, 75);
}

.text--productos--title{
    color: rgba(0, 0, 0, 0.877);
    font-size: medium;

    text-transform: uppercase;
    
}

.img--product--small{
    display: flex;
    height: fit-content;
    height: 15vh;
    width: auto;
    
}

.card--container{
    // box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    padding: 0;
    width: 100%;;
}

@media (min-width: 550px){

    .bg--random--products{
        .card--container{
            width: 70%;
        }

        color: rgb(73, 73, 73);
        font-weight: 400;
        font-size: x-large;
        text-align: left;
    }
}


// seccion de label de categorias
.categorias{
    
    padding: 0rem 1rem;
    width: 100%;
}

.nolink{
    width: 100%;
    height: 100%;
    color: rgb(63, 63, 63);

    font-weight: 00;
}
.nolink:hover{
    text-decoration: none;
    color: rgb(24, 24, 24);
}



.double-spinner {
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
    border: 5px solid rgba(150, 150, 150, 0.2);
    border-radius: 50%;
    border-top-color: rgb(6, 101, 179);
    animation: rotate 1s 0s infinite linear normal;
    }

.double-spinner::after {
    content: '';
    height: 40%;
    width: 40%;
    display: block;
    margin: 10px auto;
    border: inherit;
    border-radius: inherit;
    border-top-color: inherit;
    animation: rotate .5s 0s infinite linear reverse;
}

@keyframes rotate {
    0%   { transform: rotate(0);      }
    100% { transform: rotate(360deg); }
    }


.menuTop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: white;
    width: 100%;
    height: 70px;
}


.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &__height{

        width: 220px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: fit-content;
        height: 40px;
    
    }
}