
@font-face {
  font-family:'texgyreadventorbold';
  src: url('../assets/fonts/texgyreadventor-bold-webfont.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'cardFamily';
  src: url("../assets/fonts/Oxygen-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins-Bold.ttf");
  font-weight: bold
}

