#carrouseNB{
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.banner--header{
  background-color: var(--white-bg) ;
  margin: 0 0 1rem 0;
  width: 100%;
  height: auto;

}

.imgfluid{
  object-fit: scale-down;
  object-position: top;
  width: 100%;
  height: 100%;
}

@media (max-width:60rem){

  #carrouseNB{
      width: 100%;
      height: 184px;
  }

}
