.link-categories{
    color: black;
    font-size: medium;
    width: 200px;
    text-decoration: none;
}

.link-categories:hover{
    color: cornsilk;
    background-color: rgba(74, 120, 212, 0.87);
    text-decoration: none;

}