#topHookProducto{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center--content{
  
  display: flex;
    // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

}

.neibor-card{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  width: 40rem;

  background-blend-mode: screen;
  border-radius: 2px;
  
  // background-image: url("/assets/bg/wave_normal.svg");
  // background-repeat: no-repeat;
  // background-size: cover;  
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  
  

}

.card__bg__familia{
  background-image: url("/assets/bg/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;  
}

.card__bg{
  background-color: rgb(255, 255, 255);
  height: 100%;
  margin: 10px;
  
}

.img-neibor-card{
  padding: 1rem;
  grid-column: span 1;
  
}

@media (max-width: 60rem){
  .img-neibor-card{
  border-right: none;
  
  }
}

.title-neibor-card{
  
  padding: 1rem;
  grid-column: 2/4;

}

.contenido-neibor-card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.neibor-card-img{
  height: auto;
  width: 15em;
}

@media (max-width: 50em){
  .neibor-card{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25em;

  }
  .img-neibor-card{
    
    padding: 1rem;
    grid-column: span 1;
    
  }
  
  .title-neibor-card{
    
    padding: 1rem;
    grid-column: span 1;
  
  }
  
  .contenido-neibor-card{
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .neibor-card-img{
    
    height: auto;
    width: 10em;
  } 
}


.texto-title-neibor{
  width: 100%;
  padding: 0.83rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: large;
  text-transform: uppercase;
  text-transform: none;
  
}

.texto-navbar{ 
  color: white;
  font-size: medium;
  font-weight: 100;
}

.texto-navbar:hover{
  background-color: rgba(255, 255, 255, 0.205);
  border-radius: 30px;
  padding: 1rem;
}

@media (max-width: 50rem){
  .texto-navbar{
    font-size: small;
  }
}

.border_bootom{
  border: none;
  border-style: solid;
  border-bottom: black;
}

.datos-card-neibor{
  display: flex;
  flex-direction: column;
}

.btn-nebor{
  background-color: rgb(0, 0, 0);
  color: white;
  height: 43px;
  width: 120px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 7px; 
}

.btn-nebor:hover{
  background-color: white;
  color: #1c1e21;
  border: 2px solid black;
}

.btn-nebor-contacto{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 43px;
  width: 120px;
  padding: 0.5rem 0.8rem;
  font-weight: 600;
  margin-bottom: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 7px; 
  border: 1px solid black;
}

.btn-nebor-contacto:hover{
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  border: 1px solid white;
}


.familia-item{
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin: 3px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;


  img{

    width: 5rem;
    object-fit: scale-down;

  }

  p{

    padding-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: large;
  }
  
  
}

@media (max-width: 50em){
  .familia-item{
    
    img{
      width: 5rem;
      object-fit: scale-down;
    }
    P{
      font-size: small;
    }
  
  }

}

.familia-item:hover{
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.ventana__familia{
  border: 2px solid #3a3a3a;
  border-radius: 4px;
  width: 20rem;
  height: 10vh;
  overflow-y: scroll;

  li{
    padding: 0.3rem;
    list-style: none;
  }
  
}

// cambiar el titulo de detalle producto

.title--bar--product{
  
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 20px;


  h4{
    font-size: large;
    font-weight: bold;
    color: rgb(68, 68, 68);
  }
  
  span {
    width: 80px;
    text-align: center;
  }

}

@media (max-width: 50rem){
  .title--bar--product{

    .sm--hide{
      display: none;
    }
    
    width: 350px;
    padding: 0;
    margin: 10px;
    justify-content: space-around;
    flex-direction: row;

    button{
      width: 30px;
    }

    button > span{
      width: 30px;
    }

    h4{
      width: 30px;
      text-align: center;
    }

    span{
      text-align: center;
      width: 30px;
      font-size: small;
    }
  }
}

// FOMULARIO DE CONTACTO COTIZACION WHATSAPP

.form--contacto{

  display: flex;
  flex-direction: column;
  margin: 10px;
  box-sizing: border-box;

  label{
    box-sizing: border-box;
    border: 0;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: #1c1e21;

  }

  input{
    height: 3rem;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: large;
    padding-left: 0.8rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    // border: none;
    border: 1px solid #3a3a3a;
    // background-color: #E8F0FE ;
    color: #1c1e21;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }

  input:hover,
  input:focus,
  input:active,
  input:placeholder-shown{
    font-size: large;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    border: 1px solid #a1c4fd;
    
  }

  textarea{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: large;
    padding: 0.8rem;
    font-family: 'Roboto', sans-serif;
    border-bottom: 0.3rem solid transparent;
    // border: none;
    border: 1px solid #3a3a3a;
    // background-color: #E8F0FE ;
    color: #1c1e21;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }

  select{
    height: 3rem;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: large;
    padding-left: 0.8rem;
    font-family: 'Roboto', sans-serif;
    border-bottom: 0.3rem solid transparent;
    // border: none;
    border: 1px solid #3a3a3a;
    // background-color: #E8F0FE ;
    color: #1c1e21;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;


  }

  select:hover,
  select:focus,
  select:active{
    font-size: large;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #a1c4fd;
    
  }

  @media (max-width: 550px){
    input{
      font-size: small;
      height: 2rem;
      width: 100%;
    }

    textarea{
      overflow-y: scroll;
      font-size: small;
      height: 5rem;
      width: 100%;
      
    }
    
    label{
      width: 100%;
      font-weight: bold;
      font-size: small;
    }

    select{
      font-size: small;
      height: 2rem;
      width: 100%;
    }

    option{
      font-size: small;
    }

    select:hover,
    select:focus,
    select:active{
      font-size: small;
      border: 1px solid #a1c4fd;
      
    }
  

  }

  button{
    border: none;
    border-radius: 4px;
    font-weight: bold;
    width: 12rem;
    padding: 0.86rem;
    color: #1c1e21;
    border: 1px solid slategrey;
    background-color: white;
    
  }

  button:hover,
  button:focus{
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: rgb(255, 255, 255);
  }

  @media (max-width: 550px){
    button{
      width: 12rem;
      padding: 0.3rem;
    }
  }

}
.form--contacto .form--submit{
  
  display: flex;
  justify-content: center;
}

.precioCard{
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: large;
  color: #1c1e21;
}

.drawer--carrito{
  background-color: #37ecba;
}

// estilos de modal