.modal--productos{
  width: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 20px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0rem;
}

.modal-ca{
  width: 100%;
  padding: 1rem;
  grid-column: span 1;
}

.modal-cb{
  width: 100%;
  grid-column: span 1/3;
  grid-row: span 1;
  padding: 1rem;
}

.modal-cc{
  width: 100%;
  grid-column: span 2/4;
}

.modal-cd{
  width: 100%;
  grid-column: span 1/2;
  grid-row: span 2/4;
  padding: 1rem;
  
}

.modal--img{
  width: 100%;
  height: 100%;
}

@media (max-width: 65rem){
  .modal--productos{
    display: flex;
    flex-direction: column;
    width: 350px;
        
  }
  .modal--img{
    width: 200px;
    height: auto;
  }
}

.modal--title-product{
  display: inline-flex;
  border-radius: 10px 10px 0 0;
  margin: 10px 0;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255);

}

.modal-carousel{
  background-color: rgb(255, 255, 255);
  
}

.modal-datos{
  display: flex;
  
  flex-direction: column;
  
      

  h2{
    
    padding: 1rem;
    font-family: var(--normalFont);
    font-size: x-large;
    width: 90%;
    justify-content: right;
    text-transform: uppercase;
  }
  
}

@media (max-width: 65rem){
  .modal-datos{
    h2{
      font-size: large;
    }
  }
}

.supermodal{
  padding: 0;
  
}

.modal--dispose{
  
  color: #212529;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .dispose-item{
    flex-basis: 50%;
    
    span > p{
      flex-basis: 50%;
    }
  }

}

.leermas{
  display: none;
}

.modal-desc{
  width: 90%;
  padding: 0.8rem;
  color: #212529;
  font-size: small;
  text-align: justify;
}


@media (max-width: 65rem){
  .desc-module{
    width: 100%;
    margin: 0 0 1em 0;
    overflow: hidden;
  }

  .line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .leermas{
    margin-top: 10px;
    display: block;
    font-weight: bold;
    color: rgb(170, 170, 170)
  }

  .modal-cc{
    display: flex;
    flex-direction: column;
  }

}


.modal-botonera{
  display: flex;
  padding: 0.6rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

// @media (max-width: 65rem){
//   .modal-botonera{
//     display: flex;
//     flex-direction: column;
//   }
// }

.btn-modal-contacto{
  width: 20rem;
  background-color: black;
  padding: 1rem;
  margin-bottom: 4px;
  color: white;
  font-family: var(--normalFont);
  
}

.btn-modal-contacto:hover{
  width: 20rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 1rem;
  color: rgb(0, 0, 0);
    
}

.btn-modal-carrito{
  width: 15rem;
  background-color: #FFD814;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 4px;
  color: black;
  font-family: var(--normalFont);
  
}

.btn-modal-carrito:target,
.btn-modal-carrito:hover{
  width: 15rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #FFD814;
  padding: 1rem;
  color: rgb(0, 0, 0);
  font-family: var(--normalFont);
    
}

.btn-modal-additem{
  width: 5rem;
  background-color: white;
  border: black 1px solid;
  border-radius: 4px;
  padding: 1rem;
  margin-right: 10px;
  color: black;
  font-family: var(--normalFont);
  
}

.btn-modal-additem:hover{
  width: 5rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(16, 115, 196);
  padding: 1rem;
  color: rgb(0, 0, 0);
    
}

.btn-modal-additem{
  width: 5rem;
  background-color: white;
  border: black 1px solid;
  border-radius: 4px;
  padding: 1rem;
  margin-right: 10px;
  color: black;
  font-family: var(--normalFont);
  
}

.btn-modal-additem:hover{
  width: 5rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(16, 115, 196);
  padding: 1rem;
  color: rgb(0, 0, 0);
    
}

.btn-modal-pdf{
  width: 10rem;
  margin-right: 10px;
  height: 3rem;
  padding: 1em;
  background-color: rgb(194, 3, 3);
  text-decoration: none;
  color: white !important;
  font-family: var(--normalFont); 
}

.btn-modal-pdf:hover{
  color: rgb(194,3,3) !important;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(194,3,3);
}

.btn-modal-capacidad{
  width: 10rem;
  margin-right: 10px;
  height: 3rem;
  padding: 1em;
  border-radius: 4px;
  background-color: #39f;
  text-decoration: none;
  color: white;
  font-family: var(--normalFont); 
}

.btn-modal-capacidad:hover{
  color: #39f;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid #39f;
}


.modal-aviso{
  display: flex;
  flex-direction: column;
  align-items: center;  text-align: center;
  padding-top: 1rem;

  p{
    font-family: var(--normalFont);
    font-weight: 800;
    font-size: medium;
  }
  
}

.btn-ecommerce{
  height: 2.5rem;

}

.modal-ficha{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-left: 1rem;

}

.hookCardModal{

  display: flex;
  flex-direction: column;
  padding: 1rem;

  label{
    font-weight: bold;
    font-size: large;
  }

  select {

    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    height: 3rem;
    font-size: large;
    border: none;
    padding: 0 1rem 0 1rem;


  }

  select:focus{
    border: none;
  }
  

}

.titulos__modal__hook{
  
  display: flex;
  flex-direction: column;
  text-align: center;
  
  p{
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: medium;
    margin-bottom: 10px;

  }

  span{
    padding: 0.3rem;
    font-size: large;
    
  }

}

.shoppingCart{

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 0.36rem;
  border-radius: 360px;
  margin: 4px;
  color: rgb(255, 255, 255);
  
}

.canvasCart{
  margin-top: 10px;

  label {
    font-family: var(--normalFont); 
    font-size: large;
  }
}

.menu--canvas--cart{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

  span{
    font-weight: bold;
    margin: 4px;
    border-radius: 4px;
    font-size: large;
  }
}

.reject--canvas{
  width: 50%
}

@media (max-width: 65rem){
  .reject--canvas{
    width: 100%;
  }
}

.canvasBodyContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-left: cornflowerblue 4px solid;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
  margin-bottom: 10px;
  margin-top: 10px;


  p{
    flex-basis: 50%;
    font-family: var(--itafont); 
    font-size: large;
  }

  span{
    flex-basis: 50%;
    font-size: large;
    text-align: center;
    font-family: var(--normalFont); 
    
    
  }

  img{
    height: 80px;
    border-radius: 4px;
  }

  @media( max-width: 60rem){
    img{
      height: 40px;
    }
  }

}

.canvas--bottom{
  display: flex;
  justify-content: space-around;
  width: 80%;
  box-sizing: border-box;
  align-items: center;
  padding: 0 2rem;

}

@media(max-width: 65rem){
  .canvasBodyContainer{

    width: 100%;

    p{
      font-size: small;
    }


  }

  .canvas--bottom{
    padding: 0 1rem;
    width: 100%;
  }
}
