.modal--productos{
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}



@media (max-width: 50rem){
  .modal--productos{
    display: flex;
    flex-direction: column;
        
  }
}

.modal-carousel{
  background-color: rgb(255, 255, 255);
  
}

.modal-datos{
  display: flex;
  
  flex-direction: column;
  
      

  h2{
    
    padding: 1rem;
    font-family: 'Space Grotesk', sans-serif;
    font-size: large;
    justify-content: right;
    text-transform: uppercase;
  }
  
}

.supermodal{
  padding: 0;
  
}

.modal--dispose{
  
  color: #212529;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .dispose-item{
    flex-basis: 50%;
    
    span > p{
      flex-basis: 50%;
    }
  }

}

.modal-desc{
  padding: 0.8rem;
  color: #212529;
  font-size: small;
}

.modal-botonera{
  display: flex;
  padding: 0.6rem;
  justify-content: center;
  align-items: center;
  
}

.btn-modal-contacto{
  width: 20rem;
  background-color: black;
  padding: 1rem;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  
}

.btn-modal-contacto:hover{
  width: 20rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 1rem;
  color: rgb(0, 0, 0);
    
}

.btn-modal-pdf{
  width: 10rem;
  margin-right: 10px;
  height: 3rem;
  padding: 1em;
  background-color: rgb(194, 3, 3);
  text-decoration: none;
  color: white;
  font-family: 'Space Grotesk', sans-serif; 
}

.btn-modal-pdf:hover{
  color: beige;
  text-decoration: none;
  background-color: rgb(190, 87, 87);
}

.modal-aviso{
  display: flex;
  flex-direction: column;
  align-items: center;  text-align: center;
  padding-top: 1rem;

  p{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
    font-size: medium;
  }
  
}

.btn-ecommerce{
  height: 2.5rem;

}

.modal-ficha{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-left: 1rem;
}

