.search__hedaer__container{
    width: 100%;
    overflow-x: hidden;
    background-color: var(--white-bg);
    margin: 5rem 0;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-height: 40vh;

    form{
        height: 40px;
        border: 0;
    }

    section input{
        width: 25rem;
        border: 0;
        height: 40px;
        padding: 1.25rem;
        border-radius: 10px;
        font-size: large;
        font-weight: bold;
        color: var(--black);        
    }

}

.searchResults{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0.25rem;
    gap: 0.25rem;
}

@media (max-width: 60rem){
    .search__hedaer__container{
        padding: 0rem;
    }

    .searchResults{
        padding: 4px;
        gap: 0;
    }
}

.onTopButton{
    
    &__hidden{
        visibility: hidden;
    }
    
    &__show{
        visibility: visible;
        width: 80px;
        height: 80px;
        background: url("../assets/icons/angle-up.svg");
        border: transparent;
        border-radius: 100%;
        background-color: var(--blue-bg);
        position: fixed;
        bottom: 4px;
        right: 4px;
        z-index: 990;
    }
    
    &__show:hover{
        background-color: var(--esmeralda);
    }

}

.moreDataButton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.65rem;
    color: var(--black);
    font-family: var(--normalFont);
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
    border: 1px solid var(--esmeralda);
    border-radius: 40px;

    &:hover{
        color: white;
        background-color: var(--esmeralda);
    }

}

@media (max-width: 60rem){
    .onTopButton{
        &__show{
            width: 40px;
            height: 40px;
        }
    }
}



